
<!DOCTYPE html>
<html ng-app="clientApp">
<head>
    <title>AnuglarJS JSON path finder</title>
</head>

    <div ng-controller="PathFinderController">
        <div>
            <label for="jsonTextArea">Please enter your JSON document you would like to search on:</label>
            <textarea name=jsonTextArea" style="margin: 0px; width: 676px; height: 362px;" ng-model="enteredJson"></textarea>
        </div>
        <br>
        <div>
            <label for="nodeInput">Enter the Node you would like to get the Full Path to:</label>
            <input name="nodeInput" type="text" ng-model="nodeText">
            <button type="submit" class="btn btn-success" id="submitFormButton" ng-click="submit();">Submit</button>
        </div>

        <h2>JSON Paths for : {{nodeText}}</h2>
        <ul>
            <li ng-repeat="path in paths">
                <span>{{path}}</span>
            </li>
        </ul>

        </div>
    </div>

<script src="app/bower_components/angular/angular.min.js"></script>
<script src="js/app.js"></script>

</body>
</html>
