
<!DOCTYPE html>
<html ng-app="clientApp">
<head>
    <meta charset="utf-8">
    <title>JSON Path Finder</title>
    <link href="app/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="background-color: #fafbfc;" ngCloak>
        <section class="container" style="width: 80%">
            <h2>JSON Path Finder {?}</h2>
            <p>Simple tool that allows you to get full paths to any node in a JSON document, formatted as <b>GrandParentNode/ParentNode/SearchNode</b></p>
            <div class="starter-template" style="margin-top: 40px;">
                <div ng-controller="PathFinderController">
                    <div>
                        <textarea name=jsonTextArea" style="margin: 0px; width: 100%; height: 362px;" placeholder='Please enter a valid JSON document e.g.  {"Person" : {"FirstName": "John"}}' ng-model="enteredJson"></textarea>
                        <label for="invalidJSON" ng-hide="validJSON" class="text-warning">Invalid JSON entered, please check syntax. You can validate your JSON <a href="http://jsonlint.com/" target="_blank">here</a></label>
                    </div>
                    <br>
                    <div>
                        <label for="nodeInput">Search Node :</label>
                        <input name="nodeInput" type="text" ng-model="nodeText" placeholder="e.g FirstName" style="width: 250px;">
                        <button type="submit" class="btn btn-success" id="submitFormButton" ng-click="submit();" ng-disabled="!enteredJson || !nodeText">Submit</button>
                    </div>

                    <section id="results" class="panel panel-primary" style="margin-top: 20px" ng-show="submitted">
                        <div class="panel-heading">
                            <h2 class="panel-title">JSON Paths for : {{nodeText}}</h2>
                        </div>
                        <div class="panel-body" ng-controller="PathResultsController">
                            <span>Total paths found: {{paths.length}}</span>
                            <ul style="margin-top: 10px;width: 90%;">
                                <li ng-repeat="path in paths">
                                    <span style="word-break: break-all;">{{path}}</span>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
        </section>

        <script src="app/bower_components/angular/angular.min.js"></script>
        <script src="js/app.js"></script>

    </body>
</html>
