
<!DOCTYPE html>
<html ng-app="clientApp">
<head>
    <meta charset="utf-8">
    <title>JSON Path Finder</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="app/components/angular/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script type="text/javascript" src="js/jsonpath.js"></script>
</head>
<body class="center-block" style="background-color: #fafbfc; width:80%;">
        <section class="container" style="width: 80%">
            <h2>JSONPath Finder</h2>
            <p>Simple tool that allows you to list all JSONPath expressions for a particular node.</p>
            <div class="center-block" style="margin-top: 40px;">

                <div ng-controller="PathFinderController">
                    <form>
                        <div>
                            <textarea name=jsonTextArea" style="margin: 0px; width: 100%; height: 362px;" placeholder=' Please enter a valid JSON document e.g.  {"Person" : {"FirstName": "John"}}' ng-model="enteredJson"></textarea>

                            <div class="alert alert-danger" ng-hide="validJSON">
                                Invalid JSON Syntax. You can validate your JSON <a href="http://jsonlint.com/" target="_blank">here</a>
                            </div>
                        </div>
                        <br>
                        <div>
                            <div>
                                <label for="nodeInput">Search Node :</label>
                                <input name="nodeInput" type="text" ng-model="nodeText" placeholder="e.g. childNode" style="width: 250px;">

                                <button type="submit" class="btn btn-success" id="submitFormButton" ng-click="submit();" ng-disabled="!enteredJson || !nodeText">Submit</button>
                            </div>
                        </div>
                    </form>

                    <section id="results" class="panel panel-primary" style="margin-top: 40px" ng-show="submitted">
                        <div class="panel-heading">
                            <h2 class="panel-title" style="word-break: break-all;">JSONPath expressions for : {{nodeText}}</h2>
                        </div>
                        <div class="panel-body" ng-controller="PathResultsController">
                            <span>Total JSONPath's found : <b>{{paths.length}}</b></span>

                            <table style="margin-top:10px;width: 90%;" class="table">
                                <th>JSONPath</th>
                                <th>Result</th>
                                <tr ng-repeat="pathInfo in paths">
                                    <td style="word-break: break-all;width:70%;">{{ pathInfo.path }}</td>
                                    <td><pre>{{ pathInfo.result}}</pre></td>
                                </tr>
                            </table>
                            <!--<ul class="list-group" style="margin-top:10px;width: 90%;">
                                <li ng-repeat="path in paths" class="list-group-item">
                                    <span style="word-break: break-all;">{{path}}</span>
                                </li>
                            </ul>
-->
                            <!--<span>Try these path expressions <a href="https://jsonpath.curiousconcept.com/" target="_blank">here</a>.</a></span>-->
                        </div>
                    </section>

                </div>
            </div>
            <footer class="row navbar-default container" style="width: 65%">
                <p class="text-muted pull-left" style="color:white;">Glen Collins 2016</p>
                <p class="pull-right"><a style="color:white;" href="https://github.com/glencollins18888/JSONPathFinder" target="_blank">Source</a></p>
            </footer>
        </section>
</body>
</html>
