<!--
<!DOCTYPE html>
<html lang="en" ng-app="clientApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>

  <div>

      <div ng-controller="formCtrl">
          <label for="jsonTextArea">Please enter your JSON document you would like to search on:</label>
          <textarea name=jsonTextArea" style="margin: 0px; width: 676px; height: 362px;"
                  ng-model="string"
                  [name="string"]
                  [required="string"]
                  [ng-required="string"]
                  [ng-minlength="number"]
                  [ng-maxlength="number"]
                  [ng-pattern="string"]
                  [ng-change="string"]
                  [ng-trim="boolean"]>
        </textarea>
    </div>
    <div>
        <label for="nodeInput">Enter the Node you would like to get the Full Path to:</label>
        <input name="nodeInput" type="text"
                          ng-model="string"
                          [name="string"]
                          [required="string"]
                          [ng-required="string"]
                          [ng-minlength="number"]
                          [ng-maxlength="number"]
                          [pattern="string"]
                          [ng-pattern="string"]
                          [ng-change="string"]
                          [ng-trim="boolean"]>
    </div>
      <h1>You submitted {{nodeText}}</h1>

      <div>
          <input type="button" value="Submit" style="width: 100px;">
      </div>
  </div>

&lt;!&ndash;  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>&ndash;&gt;
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
-->


<!DOCTYPE html>
<html ng-app="clientApp">
<head>
    <title>AnuglarJS JSON path finder</title>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
</head>

    <div ng-controller="PathFinderController">
        <div>
            <label for="jsonTextArea">Please enter your JSON document you would like to search on:</label>
            <textarea name=jsonTextArea" style="margin: 0px; width: 676px; height: 362px;" ng-model="enteredJson"></textarea>
        </div>
        <br>
        <div>
            <label for="nodeInput">Enter the Node you would like to get the Full Path to:</label>
            <input name="nodeInput" type="text" ng-model="nodeText">
            <button type="submit" class="btn btn-success" id="submitFormButton" ng-click="submit();">Submit</button>
        </div>

        <h2>JSON Paths for : {{nodeText}}</h2>
        <ul>
            <li ng-repeat="path in paths">
                <span>{{path}}</span>
            </li>
        </ul>

        </div>
    </div>

<script src="app.js"></script>
</body>
</html>
