<div>
    <label for="jsonTextArea">Please enter your JSON document you would like to search on:</label>
          <textarea name=jsonTextArea" style="margin: 0px; width: 676px; height: 362px;"
                    ng-model="string"
                    [name="string"]
                    [required="string"]
                    [ng-required="string"]
                    [ng-minlength="number"]
                    [ng-maxlength="number"]
                    [ng-pattern="string"]
                    [ng-change="string"]
                    [ng-trim="boolean"]>
        </textarea>
</div>
<div>
    <label for="nodeInput">Enter the Node you would like to get the Full Path to:</label>
    <input name="nodeInput" type="text"
           ng-model="string"
           [name="string"]
           [required="string"]
           [ng-required="string"]
           [ng-minlength="number"]
           [ng-maxlength="number"]
           [pattern="string"]
           [ng-pattern="string"]
           [ng-change="string"]
           [ng-trim="boolean"]>
</div>

<div>
    <input type="button" value="Submit" style="width: 100px;">
</div>
</div>
